.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.apple-button {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 20px 60px;
  margin-top: 20px;
  font-size: 18px;
}
.google-container {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 15px 40px;
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.google-button {
  position: absolute;
  color: white;
  font-size: 18px;
  z-index: 5;
  cursor: pointer;
}
